body {
    background-color: rgb(209, 33, 51);
    margin: 20%;
}

h1 {
    font-size: 1px;
    color: rgb(255, 255, 255);
    text-align: center;
}

h2 {
    font-size: 1px;
    color: rgb(255, 255, 255);
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 18%;
    border-radius: 50%;
}

p {
    margin-top: auto;
    font-style: normal;
    text-align: center;
    font-size: 50px;
}

section {
    margin: auto;
    margin-top: 10px;
}
